doctype html
html
  head
    link(rel='stylesheet', href='/charts.min.css')
    link(rel='stylesheet', href='/style.css')
  body
    h1 Top amigos 
    table
      thead
        tr
          th(scope="col") Name
          th(scope="col") Count
      tbody
        each val, key in data
          tr
            td= key
            td= val