doctype html
html
  head
    title My Data
  body
    h1 Top amigos
    form
        input(type='text' id='characterId' name='characterId' placeholder='Enter character ID')
        button(type='submit' onclick='window.location.href="/data"') Show Data


