doctype html
html
  head
    title Character Runs
  body
    h1 Character ID
    form(action='/data', method='GET')
      input(type='text', name='characterId')
      input(type='submit', value='Submit')
